.employee-item-container{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    width:95%;
    background-color: white;
    height:30px;
    border-radius: 5px;
}
.employee-item-field{    
    width:20%;
    padding-top:5px;
    text-align:center
}
.employee-item-field-edit{
    padding-top:0px;
}
.employee-item-field-delete{
    padding-top:0px;
    margin-left:15px;
}
.active{
    color:green
}
.inactive{
    color:red
}